{% if site.disqus_short_name and page.comments != false %}
	<h1>Comments</h1>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
    var base_url = 'http://blog.andrewcantino.com'; // {{ site.url }}
		var disqus_shortname = '{{ site.disqus_short_name }}';
		// var disqus_developer = 1;
		var disqus_identifier = base_url + '{{ page.url }}';
		var disqus_url = base_url + '{{ page.url }}';
		var disqus_script = 'embed.js';
	  (function () {
		  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		  dsq.src = '//' + disqus_shortname + '.disqus.com/' + disqus_script;
		  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	  }());
	</script>
{% endif %}

